@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-400.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-500.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi-700.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}